/*reseteo de la pagina web  */
*{
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'loto';
}
h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid #52796F;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5 );
    color: white;
    background: #84a98c;
}

button:hover{
    background-color: #354f52;
}
.container{
    max-width: 1400px;
    margin: auto;
}
.color-acento{color:#354f52;}

header{
    background-color: whitesmoke;
}
header .logo{
    margin: 0;
    padding: 25px 30px;
    color: #52796F;
    font-size: 1.6em;

}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: #354f52;

}
header a:hover{
    color: #52796F;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/slider1.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#hero h1{
    color: azure;

}
#hero button{
    font-size: 1.75em;
    border-radius: 5
    40px;
}


#somos-fer .container{
    text-align: center;
    padding: 200px 12px;

}
#productosFer {
    background: rgb(30,30,30);
    color: whitesmoke;
    text-align: center;

}

#productosFer .container{
    padding: 100px 0px;
    
}
#productosFer h2{
    margin-top: 0;
    font-size: 3.2em;
}
#productosFer p{
    display: none;
}

#productosFer .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 40px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/img1.jpeg");
}
.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/img2.jpeg");
}
.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/img3.jpeg");
}
#caracteristica .container{
    text-align: center;
    padding: 250px 12px;
}
#caracteristica li{
    margin: 16px 0px;
    font-weight: bold;
}

#final{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30,30,30);
    color: aliceblue;
    height: 80vh;
}
#final h2{
    font-size: 9vw;
}
#final button{
    font-size: 5vw;
    border-radius: 40px;
}
footer{
    background-color: rgb(230, 230, 230);
}
footer p{
    margin: 0;
    padding: 12px;
    color: #52796F;
}
footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
@media (min-width: 720px){
    /* fixed: esto permite que el nav quede estatico*/
    header{
        position: fixed;
        width: 100%;

    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }
    #hero h1{
        font-size: 5em;
    }
    #somos-fer .container{
        display: flex;
        justify-content: space-between;

    }
    #somos-fer .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    #somos-fer h2{
        margin-top: 0px;
    }

    #somos-fer .img-container{
        background-image: url("img/ferretera-camila-high-resolution-logo-black.png");
    background-size: cover;
    background-position: center center;
    justify-content: center;
    height: 500px;
    width: 400px;
    }
    /*cartas*/
    #productosFer .productos{
        display: flex;
        justify-content: center;
    }
    #productosFer p{
        display: block;
        margin-bottom: 30px;
    }
    #productosFer h3{
        margin-top: 0;
    }
    #productosFer .carta{
        padding: 15px;
    }


}



